
        *{
            margin: 0;
            border: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        body::-webkit-scrollbar{
            display: none;
        }
        nav{
            background-color: white;
            width: 100%;
            position: fixed;
            top: 0;
            z-index: 10;
            
        }
        .offer{
            background-color: #333333;
            display: flex;
            justify-content: space-between;
            padding: 5px;
        }
        .offer_child{
            display: flex;
            color: white;
            font-size: 12px;
            align-items: center;
        }
        .offer_child > a{
            text-decoration: none;
            color: white;
        }
        .offer_child > span{
            padding: 0 10px;
        }
        .offer_child_2 > span{
            padding: 0 10px;
            font-size: 14px;
        }
        .offer_child_2 > a > p{
            font-size: 14px;
            font-weight: 600;
        }
        button{
            cursor: pointer;
        }
        .title{
            display: flex;
            justify-content: space-between;
            padding: 10px 40px;
            color: rgb(40, 38, 38);
            align-items: center;
        }
        .title_child{
            display: flex;
        }
        .title_child_1{
            width: 250px;
            justify-content: space-between;
            padding: 7px;
            border-bottom: 1px solid rgb(41, 39, 39);
        }
        #bur_button{
            display: none;
            cursor: pointer;
        }
        .title_child_2{
            display: block;
            text-align: center;
        }
        .title_child_2 > a{
            text-decoration: none;
            color: rgb(41, 39, 39);
        }
        .title_child_3{
            margin-left: -200px;
        }
        .title_child_3 > img{
            width: 200px;
        }
        .catagory{
            width: 80%;
            display: flex;
            margin: 15px auto;
            padding: 12px;
            overflow: hidden;
        }
        .catagory > a{
            text-decoration: none;
            color: rgb(41, 39, 39);
            margin: auto;
            padding: 2px;
        
        }
        .catagory > a > p{
            font-size: 13px;
            font-weight: 600;
            transition: 0.1s ease-in;
            border: 3px solid white;
        }
        .catagory > a:nth-child(10){
            color: red;
        }
        .catagory > a > p:hover{
            border-bottom: 3px solid rgb(5, 177, 177);
        }
                /* ----------------------slide part----------------------- */
        .slide{
                width:0px;
                height: 100vh;
                background-color: rgba(27, 26, 26, 0.774);
                position: fixed;
                top: 0;
                z-index: 1;
                overflow: hidden;
                transition: 0.5s;
            }
            .slide > div{
                margin-top: 15%;
            }
            .slide > div > a{
                text-decoration: none;
                color: whitesmoke;
                display:block;
                padding: 10px;
                margin: 5px 0 5px 20px;
                font-size: 10px;
            }
            .closebtn{
                float: right;
            }
            .openbtn{
                background-color: #111;
                cursor: pointer;
                color: white;
                padding: 15px;
                font-size: 20px;
            }
                        @media screen and (min-width:800px) and (max-width:1100px){
                    .title_child_1{
                        border-bottom: 0;
                        justify-content:flex-start;
                        align-items: center;
                    }
                    .title_child_1 > p{
                        display: none;
                    }
                    #bur_button{
                        display: block;
                        margin: 0 30px;
                    }
                    .catagory{
                        display: none;
                    }
                    .offer_child{
                        font-size: 10px;
                    }
                    .offer_child_2 > span{
                        font-size: 12px;
                    }
                    .offer_child_2 > a > p{
                        font-size: 12px;
                    }
                }
        
                @media screen and (min-width:100px) and (max-width:799px){
                    .title{
                        padding: 10px 5px;
                    }
                    .title_child_1{
                        border-bottom: 0;
                        justify-content:flex-start;
                        align-items: center;
                    }
                    .title_child_1 > p{
                        display: none;
                    }
                    #bur_button{
                        display: block;
                        margin: 0 30px;
                    }
                    .offer_child_2{
                        display: none;
                    }
                    .catagory{
                        display: none;
                    }
                    .offer_child{
                        font-size: 10px;
                    }
                    .offer_child_2 > span{
                        font-size: 12px;
                    }
                    .offer_child_2 > a > p{
                        font-size: 12px;
                    }
                }
                #main-body{
                    margin-top: 6cm;
                }
                #categories{
                    display: flex;
                    justify-content: space-evenly;
                }
                #categories>img{
                    width:400px ;
                    height: 350px;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    /* transform: scale(1.1); */
                }
                #categories>img:hover{
                    transform: scale(1.1);
                }
                .cards-images{
                    display: flex;
                    justify-content: space-evenly;
                }
                #cards-image h2{
                    text-align: center;
                }
                .cards-images>img{
                    width: 200px;
                    height: 250px;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }
                .cards-images>img:hover{
                    transform: scale(1.1);
                }